@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #faf8f5;
  color: #111111;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
